# Compiled Java
*.class
out/
bin/
build/

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
.claude
.claude/**

docs/agents.md
AGENTS.md
docs/templates/**
/docs/templates
docs/templates

